<!-- <section>
    <div class="w-full flex bg-blue-800">
        <div class="w-1/2">
            <h4 class="text-black text-center">Test</h4>
        </div>
        <div class="w-1/2">
            <h4 class="text-black text-center">Test 2</h4>
        </div>
    </div>
</section>
</body>
</html> -->
<div class="w-full bg-brand_blue-800 p-8">
    <div class="sm:flex mb-4">
        <div class="w-1/4 h-auto">
            <div class="mb-2 text-white"></div>
            <ul class="leading-normal">
                <li class="text-white">Facebook</li>
                <li class="text-white"><a href="https://github.com/Prosammer/">Github</a></li>
                <li class="text-white">© Coldboot Technology </li>
            </ul>
        </div>
        <div class="block w-1/2">
        </div>
        <div class="block w-1/4 text-white text-center">
            <p>Hosted for free using Github Pages + Netlify + TailwindCSS</p>
        </div>
    </div>
</div>
</html>
